.advance-search{
    display: flex;
    align-items: flex-end;
    display: grid;
    grid-template-columns: .7fr .5fr .3fr .5fr .3fr .3fr .3fr;
    column-gap: 20px;
    margin-bottom: 40px;
}
.advance-search  h2{
    position: relative;
    top: 5px;
    color: white ;
    text-transform: uppercase;
    font-size: 1.7rem;
    display: flex;
    align-items: flex-end;
    padding: 0;
    margin: 0;
    justify-self: flex-start;
}

.advance-search button{
    /* padding: 10px 0px; */
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    /* border-bottom: 1px solid white ; */
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.advance-search button i{
    color: var(--main-color);
    font-size: 1.3rem;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}